.header-div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.header-div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.MuiButton-outlined {
  color: "wite";
}
